@font-face {
    font-family: 'Red Rocket Academy';
    src: url('../fonts/RedRocketAcademyItalic.eot');
    src: url('../fonts/RedRocketAcademyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RedRocketAcademyItalic.woff2') format('woff2'),
        url('../fonts/RedRocketAcademyItalic.woff') format('woff'),
        url('../fonts/RedRocketAcademyItalic.ttf') format('truetype'),
        url('../fonts/RedRocketAcademyItalic.svg#RedRocketAcademyItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Calibri;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #24252A;
}

#hd {
    position: absolute;
    background: red;
    height: 50px;
    width: 100%;
    top: 0px;
    left: 0px;
}

.logo {
    font-family: 'Red Rocket Academy', Calibri;
    margin-right: auto;
    font-size: 45px;
}

li,
a,
button {
    color: #edf0f1;
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 2%;
    background-color: #a71c1c;
    border-bottom: 2px solid #edf0f1;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
    background-color: transparent;
}

header * {
    background-color: transparent;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, .8);
}

.root {
    display: static;
    top: 0;
}

.big-image {
    display: flex;
    position: static;
    top: 0;
    background-image: url("../images/big-image-night.jpg");
    width: 100%;
    height: 0;
    padding-top: 62.5%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom: 2px solid #edf0f1;
}

.services {
    position: static;
    display: block;
    height: 1000px;
    width: 100%;
    border-bottom: 5px solid #edf0f1;
}

.services>img {
    position: relative;
    display: inline;
    object-fit: fill;
    width: 500px;
    height: 600px;
    padding: 0px 25px 0px 80px;
}

.services>h1 {
    font-family: Calibri;
    font-size: 50px;
    top: 50px;
    color: #edf0f1;
    text-align: center;
    position: relative;
    display: block;
    height: 50px;
}

.services>p {
    position: relative;
    color: #edf0f1;
    font-size: 25px;
    top: 350px;
    display: block;
    height: 200px;
    width: 25%;
    left: 70%;
}

.about {
    display: block;
    position: static;
    top: 0;
    background-image: url("../images/big-image-day.jpg");
    width: 100%;
    height: 1200px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom: 5px solid #edf0f1;
    /*border-top: 5px solid red;
    border-bottom: 5px solid red;*/
}

.about_text_div {
    width: 50%;
    height: 500px;
    position: relative;
    display: block;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1;
    margin: auto;
    top: 25%;
    padding: 10px;
    border-radius: 20px;
}

.about_text_div > * {
    background: transparent;
    color: #edf0f1;
    text-align: center;
    margin-top: 20px;
}

.about_text_div > h1 {
    font-size: 50px;
}

.about_text_div > p {
    font-size: 20px;
}

.sponsors {
    position: static;
    display: block;
    height: 800px;
    width: 100%;
    text-align: center;
    color: #edf0f1;
}

.sponsors>* {
    margin-top: 40px;
}

.sponsors>img {
    display: inline-block;
    height: 500px;
    width: 300px;
    margin-left: 30px;
}

.sponsors>h1 {
    margin-top: 40px;
    font-size: 50px;
}

.sponsors>ul {
    list-style: none;
}

.sponsors li {
    font-size: 20px;
}

footer {
    border-top: 5px solid #edf0f1;
    z-index: 1;
    bottom: 0;
    height: 250px;
}

footer p {
    background-color: transparent;
    color: #718093;
    text-align: center;
    position: relative;
    top: 220px;
}

#topBT {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #a71c1c;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 20px;
    transition: all 0.3s ease 0s;
}

#topBT:hover {
    background-color: #741313;
}

.prenote {
    text-align: center;
    font-size: 30px;
}

.prenote > p {
    color: red;
    display: block;
    padding-top: -5px;
}

.prenote > a {
    display: block;
    padding-top: 30px;
}